.logo{
  color:#000000;
  float: left;
  padding-left: 10px;
  font-size: 25px;
  font-weight: bold;
  font-family: monospace;
  margin: 0 50px 0 0;
}
.heading{
  font-size:20px;
   align:center;
   margin: 100px 200px 0 200px;
}
.para{
  font-family: fantasy;
  font-size: 20px;
  margin: 0 10px 0 10px;
}
.key{
  font-size: 30px;
  font-style: oblique;
  font-family: fantasy;
}
